:host {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 40%;
  border: 1px dashed grey;
  padding: 1.5em 0.5em;
  position: relative;
  transition: all 0.1s;
  margin: 0.5em;
  align-items: flex-start;
}

:host::before {
  position: absolute;
  display: block;
  content: attr(label);
  top: 0.3em;
  left: 0.5em;
}

:host::after {
  position: absolute;
  display: block;
  content: attr(status);
  text-shadow: 1px 1px 1px #fff;
  bottom: 0;
  right: 0.5em;
  font-size: 12px;
}

:host.invalid {
  background: rgba(200, 0, 0, 0.2);
}

:host.active {
  border: inset 5px #00aa;
}
