form {
  display: flex;
  height: calc(100vh - 120px);
}

x-form-section,
ng-monaco-editor {
  flex: 1;
  border: 1px solid grey;
  overflow: hidden;
}

ng-monaco-editor {
  align-self: stretch;
  margin: 0.5em;
}

x-form-section {
  height: 100%;
  margin: 0;
}

x-deployment {
  overflow: auto;
  height: 100%;
}

.hint {
  margin-bottom: 10px;
  border: 1px solid grey;

  ::ng-deep p {
    margin: 0.5em;
  }
}
