form {
  display: flex;
  overflow: auto;
  height: calc(100vh - 120px);
}

x-deployment, ng-monaco-editor {
  flex: 1;
  border: 1px solid grey;
}

* {
  box-sizing: border-box;
}

ng-monaco-editor {
  max-height: 100%;
}

x-deployment {
  max-height: 100%;
  overflow: auto;
}
