/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Courier New', Courier, monospace;
}

input {
  width: 200px;
}

.x-highlight-range {
  background-color: lightblue;
}
