/* You can add global styles to this file, and also import other style files */

body {
  font-family: monospace;
  text-shadow: 1px 1px #fff;
}

input,
textarea,
select {
  flex: 1 1 100%;
  background: #fffa;
  border: 1px solid grey;
  padding: 2px 4px;
}

pre {
  flex: 1 0 100%;
}

.x-highlight-range {
  background-color: lightblue;
}

.x-add {
  background-color: #d4ffe7;
}

.x-remove {
  background-color: #ffddd4;
}

* {
  box-sizing: border-box;
}
